*
{
    margin:0px;
    padding:0px;
}
body
{
    background-color: lightcoral;
}
.card
{
    border-radius:20px;
    background-color: lightgreen;
    padding: 20px;
    height:400px;
    width:290px;
    margin-left:700px;
    margin-right:400px;
    margin-top:300px;
    box-shadow: -20px -20px 10px palevioletred;
}
hr
{
    margin-top:15px;
    margin-bottom:20px;
    background-color:lightcoral;
    height:2px;
}
button
{
   margin-left:30%;
   background-color: lightcoral;
   margin-top:20px;
   height:30px;
   width:40%;
   color: white;
}